body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  height: 65%;
  width: 65%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.flag-container {
  display: flex;
  justify-content: space-around;
}
